<section class="documentation">
<h1 class="anchor" id="documentation-{{docId}}">
  <a href="#documentation-{{docId}}">
    {{title}}
  </a>
</h1>
<div class="content">{{markdown content}}</div>
</section>
