<!DOCTYPE HTML>
<html>
<head>
    <title>{{title}} API documentation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="generator" content="https://github.com/janrain/raml-fleece {{config.version}}">

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>

    <style>
        .parent {
            color: #888;
        }
        .badge.method {
            border-radius: 2px;
            text-transform: uppercase;
        }
        h4.method {
            text-transform: uppercase;
        }
        .badge.method.delete { background: #a00; }
        .badge.method.post   { background: #0aa; }
        .badge.method.put    { background: #a0c; }
        .badge.method.get    { background: #0a0; }
        body {
            position: relative;
        }
        .top-link {
            position: fixed;
            bottom: 0;
            right: 0;
            margin: 10px;
            padding: 10px;
            border-radius: 2px;
            /*background: rgba(255, 255, 255, 0.80);*/
            font-weight: bold;
            font-size: 32px;
            width: 2em;
            height: 2em;
            text-align: center;
            /*text-shadow: 1px 1px 1px black;*/
            text-shadow: 0 0 3px white;
        }
        .top-link, .top-link:hover, .top-link:focus {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.40);
        }
    </style>
</head>
<body data-spy="" data-target="#side-navbar">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    {{title}} API documentation
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div id="side-navbar" class="col-md-4">
                {{> table_of_contents}}
            </div>
            <main class="col-md-8">
                {{#each resources}}
                    {{#if path}}
                        {{> resource}}
                    {{/if}}
                {{/each}}
            </main>
        </div>
    </div>
    {{!-- <a class="top-link" href="#">&uarr;</a> --}}
    <a class="top-link" href="#">
        <span class="glyphicon glyphicon-arrow-up"></span>
    </a>

    {{print_json .}}
    <script>
        // $('pre code').each(function(i, block) {
        //     hljs.highlightBlock(block);
        // });
    </script>
</body>
</html>
