<div id="fleece-table-of-contents" class="fleece-table-of-contents hidden-xs">
  {{> tableOfContents}}
</div>
<div id="fleece-content" class="fleece-content">
  <h1 class="main-heading">{{title}}{{#if version}} {{version}}{{/if}} Documentation</h1>
  {{#if documentation}}
    <h2>Documentation</h2>
    {{#each documentation}}
      {{> documentation}}
    {{/each}}
  {{/if}}
  {{#if securitySchemes}}
    <section class="security-schemes">
      <h1 class="anchor" id="security-schemes"><a href="#security-schemes">Security Schemes</a></h1>
      {{#each securitySchemes}}
        {{> securityScheme}}
      {{/each}}
    </section>
  {{/if}}
  <h2>Endpoints</h2>
  {{#if baseUri}}
    <section>
      <h1 class="anchor" id="base-uri"><a href="#base-uri">{{baseUri}}</a></h1>
      {{#if baseUriParameters}}
        <div class="params">
          <h2>URI Parameters</h2>
          {{> parameters type="URI Parameters" params=baseUriParameters}}
        </div>
      {{/if}}
    </section>
  {{/if}}
  {{#each resources}}
    {{#if path}}
      {{> resource}}
    {{/if}}
  {{/each}}
</div>
