/**
 * This CSS needs to be refactored and generally made less brittle and horrible.
 * It was made in a flurry, and I haven't had time to come back and clean it up.
 * Sorry, future maintainer!
 *
 * Brian Mock (2015-06-03)
 */

.uri-parameter-name {
  font-weight: bold;
}

.parent {
  color: #555;
}
.verb {
  text-transform: uppercase;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20px;
}
.verb:hover {
  text-decoration: none;
}
.badge {
  border-radius: 2px;
}
.verb span {
  color: inherit;
  transform: rotate(90deg);
  display: block;
  position: relative;
  top: 12px;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
}
body {
  position: relative;
  background: #eee;
}
#side-navbar {
  position: fixed;
  background: #fff;
  color: #000;
  border-right: 2px solid #ddd;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 25px 0;
}
.params {
  padding: 0 10px;
  border-bottom: 2px solid #ddd;
}
.params:last-child {
  border-bottom: none;
}
.params dl dt {
  border-top: 2px dotted rgba(0, 0, 0, 0.10);
  padding: 5px 0;
}
.params dl dd {
  padding: 5px 0;
}
#side-navbar .nav-pills li a {
  padding: 4px 10px;
  font-size: 95%;
  border: 1px solid transparent;
  color: inherit;
  border-radius: 0;
}
#side-navbar .nav-pills li:hover a {
  background: #428bca;
  color: white;
}
.sidebar-item a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h1.main-heading {
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.10);
  padding-bottom: 10px;
}
main h2 {
  margin: 2px 0;
  color: black;
  padding: 10px;
}
.card {
  margin-bottom: 20px;
  border: 2px solid #ddd;
  background: #fff;
  border-radius: 4px 4px 0 0;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 900px;
}
.card ul.security-schemes {
  padding-left: 0;
}
.card ul.security-schemes li {
  list-style-type: none;
}
.card ul.security-schemes li a {
  display: block;
  padding: 4px 0;
}
.response-code {
  font-weight: bold;
}
.verb.delete { background: #c00; }
.verb.post   { background: #0aa; }
.verb.put    { background: #a0c; }
.verb.patch  { background: #888; }
.verb.get    { background: #0a0; }
.response-code-2xx   { color: #0a0; }
.response-code-3xx   { color: #aa0; }
.response-code-4xx   { color: #c00; }
.response-code-5xx   { color: #c00; }
main h1 {
  margin: 20px 10px;
}
.card h3 {
  margin: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.10);
}
.api-metadata h3, .anchor a {
  padding: 10px;
  display: block;
  color: #000;
}
main h2 { font-size: 26px; }
main h3 { font-size: 18px; }
main h4 { font-size: 16px; }
main h2 a,
main h2 a:hover {
  color: black;
}
pre {
  border: 0;
  background: #2b2b2b;
  color: #b9b9b9;
  border-radius: 0;
}
.method pre {
  margin: 0 0 0 -5px;
}
.navbar-inverse {
  background: #428bca;
  color: white;
  border-color: rgba(0, 0, 0, 0.30);
}
.navbar-inverse .navbar-brand {
  color: rgba(255, 255, 255, 0.70);
}
code {
  background: #eee;
  color: #000;
}
.description {
  padding: 0 10px;
}
.method {
  position: relative;
  padding: 2px 0 0 25px;
  border-bottom: 10px solid #fff;
}
.method:last-child {
  border-bottom: none;
}

@media only screen {
  #side-navbar {
    width: 200px;
  }
  #side-navbar .nav-pills li a {
    font-size: 85%;
  }
  main {
    margin-left: 200px;
  }
}
@media only screen and (min-width: 900px) {
  #side-navbar {
    width: 300px;
  }
  #side-navbar .nav-pills li a {
    font-size: 90%;
  }
  main {
    margin-left: 300px;
  }
}
